section {
    height: 700px;
    width: 100%;
    background-color: white;
    margin-bottom: 0px;
  }
  
  .year {
    font-size: 450px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-align: center;
    color: #d8d8d8;
    z-index: 1;
    position: relative;
  }
  
  section {
    position: relative;
  }
  
  .mans {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -10px;
    z-index: 2;
    height: 100%;
  }
  
  .mns {
    display: flex;
    align-items: center;
  }
  
  .mans_holder {
    display: flex;
    justify-content: center;
  }
  
  .general_man {
    height: var(--man-height);
    transition: 0.2s ease;
  }
  
  .general_man:hover {
    transform: scale(1.1);
  }

  .sub_title {
    padding-top: 30px;
    width: 100%;
    background-color: white;
  }
  
  .r_sub {
    width: 25%;
    font-size: 42px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #3b3b3b;
  }
  
  .sub_holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .c_sub {
    width: 30%;
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
  }
  
  .l_sub {
    width: 28%;
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
  }